.width{
    width: 250px; 
}

.height{
    height: 200px;
}

.centerContent{
    align-items: center;
    border: 1px solid;
    display: flex;
    justify-content: center;
}

.paddingTop{
    padding-top: 8px;
}

.paddingBottom{
    padding-bottom: 8px;
}